<div class="rox mt-5">
   <h1 class="font-weight-normal">活動記録一覧</h1>
</div>
<div class="row mt-3 mb-3 align-self-end">
   <%= form_with method: get, local: true do |f| %>
      <%= f.text_field :search %>
      <%= f.submit '検索する', name: nil %>
   <% end %>
</div>
<% @records.each do |record| %>
  <p>イベント名</p>
  <span><%= link_to record.event_name, record_path(record) %></span>
  <p>活動写真</p>
  <% if record.photo.attached? %>
    <%= image_tag url_for(record.photo.variant(resize_to_limit: [100, 100])) %>
  <% else %>
    <p>写真は添付されていません</p>
  <% end %>
  <p class="caption"><%= "#{record.comments.count} コメント" %></p>
<% end %>