<div class="cover-show">
   <div class="container d-flex flex-column align-items-center">
      <div class="row mt-5 mb-5">
         <h1 class="font-weight-normal">活動記録詳細</h1>
      </div>
      <% if @comment.errors.any? %>
         <div class="card text-center text-white bg-danger mt-3">
            <%= @comment.errors.count %>件のエラーが発生しました
            <% @comment.errors.full_messages.each do |message| %>
               <%= message %>
            <% end %>
         </div>
      <% end %>
      <div class="container d-flex mt-5">
<h2>イベント名</h2>
<p><%= @record.event_name %></p>
<p class="caption"><%= @record.location %>
  <% if @record.favorited_by?(current_user) %>
    <%= link_to record_favorites_path(@record), data: { turbo_method: :delete }, class: "favorite_btn" do %>
        ♥<%= @record.favorites.count %> いいね
    <% end %>
  <% else %>
    <%= link_to record_favorites_path(@record), data: { turbo_method: :record }, class: "favorite_btn" do %>
        ♡<%= @record.favorites.count %>いいね
    <% end %>
  </p> 

<h2>活動記録</h2>
<p><%= @record.content %></p>
<p>活動写真</p>
<% if @record.photo.attached? %>
  <%= image_tag @record.photo.variant(resize_to_limit: [300, 300]) %>
<% end %>
<% if @record.user == current_user %>
   <%= link_to '編集する', edit_record_path(@record) %></br>
   <%= link_to '削除する', record_path(@record), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？"} %></br>
<% end %>
<%= link_to '投稿一覧ページへ', records_path %>
<div class="comments ml-5 mt-5">
   <%= form_with(model:[@record, @comment], local: true) do |f| %>
    <%= f.text_area :comment, :size=>"60x3",placeholder: "コメントする" %>
    <%= f.submit "送信する", class: "btn btn-success mb-4" %>
   <% end %>

   <p>コメント件数:<%= @comments.count %></p>
   <div class="comments-index mb-2">
      <% @comments.each do |comment| %>
        <div class="comments-index mb-2>
           <%= comment.user.name %>
           <%= comment.created_at.strftime('%Y/%m/%d') %><br>
           <div class="d-flex">
              <%= comment.comment %>
              <% if comment.user == current_user %>
                 <div class="comment-delete">
                    <%= link_to "削除",record_comment_path(comment.record, comment), data: { turbo_method: :delete }, class: "btn-sm btn-danger" %>
                 </div>
              <% end %>
           </div>
        </div>
      <% end %>
      <%= paginate @comments %>
    </div>
        