<h2>イベント名</h2>
<p><%= @record.event_name %></p>
<h2>活動記録</h2>
<p><%= @record.content %></p>
<% if @record.photo.attached? %>
  <%= image_tag @record.photo.variant(resize_to_limit: [300, 300]) %>
<% end %>
<%= link_to '編集する', edit_record_path(@record) %></br>
<%= link_to '削除する', record_path(@record), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？"} %></br>
<%= link_to '投稿一覧ページへ', records_path %>